<!DOCTYPE html>
<html>
    <head>
      <title>Cybertrack</title>

      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">

      <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="main-container" class="container">
          <!--<div class="row">-->
            <!--<div id="sidebar" class="col-xs-2">-->
              <!--Cybertrack-->
            <!--</div>-->
            <!--<div id="content" class="col-xs-9">-->
              <%= yield %>
            <!--</div>-->
          <!--</div>-->
        </div>
    </body>
</html>
